body {
  color: #000000;
  background-image: url(../IMG_3328.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.logo {
  margin: 70px;
  width: 300px;
  margin-bottom: 5px;
}
.image {
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(10, 10, 9);
  height: 40px;
  align-items: center;
}
a {
  color: bisque;
}
