.logo {
  margin: 70px;
  width: 300px;
  margin-bottom: 5px;
}
.image {
  display: flex;
  justify-content: center;
  
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(10, 10, 9);
  height: 40px;
  align-items: center;
}
a{
    color: bisque;
}
